controller:
  replicas: 1
  
  admin:
    username: admin
    password: admin123
  
  installPlugins:
    - kubernetes:latest
    - workflow-aggregator:latest
    - git:latest
    - configuration-as-code:latest
    - job-dsl:latest
    - timestamper:latest
  
  JCasC:
    configScripts:
      cloud-config: |
        jenkins:
          clouds:
            - kubernetes:
                name: "kubernetes"
                serverUrl: "https://kubernetes.default"
                namespace: "jenkins"
                jenkinsUrl: "http://jenkins.jenkins.svc.cluster.local:8080"
                containerCapStr: "10"
  
  serviceType: ClusterIP
  servicePort: 8080

persistence:
  enabled: true
  size: 10Gi

serviceAccount:
  create: true
  name: jenkins

rbac:
  create: true
  readSecrets: true